<% c = 0 %>
<% if queue %>
	<% classes = "thumbnail active" %>
<% else %>
	<% classes = "thumbnail" %>
<% end %>
<% songs.each do |key,song| %>
	<% c += 1 %>
	<div class="song">
		<div class="<%= classes %>">
			<% if key.include?"youtube" %>
				<img src="<%= song['thumbnail'] %>">
			<% else %>
				<p class="lead text-center"><%= c %></p>
			<% end %>
		</div>
		<p class="title"><%= song['title'] %></p><span><small><%= song['artist'] %></small></span>
		<% if queue %>
			<button data-id="<%= key %>" class="pull-right btn btn-sm btn-default tm-up">
				<i class="fa fa-thumbs-up"></i>
			</button>
			<span class="pull-right popularity"><%= song['popularity'] %></span>
			<button data-id="<%= key %>" class="pull-right btn btn-sm btn-default tm-down">
				<i class="fa fa-thumbs-down"></i>
			</button>
		<% else %>
			<button data-id="<%= key %>" data-title="<%= song['title'] %>" data-thumbnail="<%= song['thumbnail'] %>" class="pull-right btn btn-sm btn-info btn-add">
				<i class="fa fa-plus"></i>
			</button>
		<% end %>
		<p class="text-muted"><%= song['duration'] %></p>
		<div style="clear: both;"></div>
	</div>
	<% classes = "thumbnail" %>
<% end %>